@import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);

body, html {
	font-family: 'Sawarabi Mincho', Helvetica Neue, Helvetica, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
	width: 100%;
	text-align: center;
}

a {
	text-decoration: none;
}

table {
	margin: auto;
	border-style: solid;
	width: 100%;
}

#title {
	font-size: 1.5em;
}

#api_list {
	width: 60%;
	margin: auto;
}

#api_details {
	margin: 10px;
	border-style: solid;
}

#api_name {
	font-size: 1.2em;
	text-decoration: underline;
}

#api_url:before {
	content: 'API_URL : ';
	font-family: 'Avnir';

}

#explain {
	width: 70%;
	margin: auto;
}