<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>Doshisha Open Data Hack</title>
</head>
<body>
	<p id="title">現在、実装済のAPI一覧</p>
	<div id="api_list">
		<p>同志社パソコン利用状況</p>
		<!-- <p><a href="http://openpc.doshisha.work/api/v1/1">今出川キャンパス</a></p> -->
		<div id="api_details">
			<div id="campus">今出川キャンパス</div>
			<div id="api_url">http://openpc.doshisha.work/api/v1/1</div>
		</div>
		<div id="api_details">
			<div id="campus">京田辺キャンパス</div>
			<div id="api_url">http://openpc.doshisha.work/api/v1/2</div>
		</div>
		<!-- <p><a href="http://openpc.doshisha.work/api/v1/2">京田辺キャンパス</a></p> -->
	</div>
</body>
</html>