<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>Doshisha Open Data Hack</title>
</head>
<body>
	<p id="title">Doshisha Open Data Hack</p>
	<div id="api_list">
		<div id="api_details">
			<p id="api_name">概要</p>
			<p>同志社が公開している情報を１箇所に分かりやすく管理しようと、思いついた個人がやっているもの。</p>
			<p>協力者募集中...</p>
		</div>
	</div>

	<p id="title">現在、実装済のAPI一覧</p>
	<div id="api_list">
		<div id="api_details">
			<p id="api_name">同志社パソコン利用状況</p>
			<p>>> <a href="./openpc">API詳細</a> <<</p>
		</div>
	</div>
	<div id="api_list">
		<div id="api_details">
			<p id="api_name">同志社休講状況</p>
			<p>>> <a href="./cancell">API詳細</a> <<</p>
		</div>
	</div>

	<p id="title">お知らせ</p>
	<div id="api_list">
		<div id="api_details">
			<p id="api_name">エンジニア募集中</p>
			<p>エンジニアっていうか一緒に開発・勉強してくれる人募集中＠京都</p>
			<p><a class="typeform-share button" href="https://yakult2.typeform.com/to/apLxVW" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#89BC62;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:12px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">応募 </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script></p>
		</div>
	</div>
</body>
</html>