<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>Doshisha Open Data Hack</title>
</head>
<body>
	<p id="title">同志社パソコン利用状況</p>
	<div id="explain">
		<table class="table table-responsive">
			<thead>
				<tr>
					<td>概要</td>
					<td>全件取得</td>
				</tr>
			</thead>
			<tr>
				<td>API_URL</td>
				<td>http://hack.doshisha.work/openpc/api/v1/'campusID'/</td>
			</tr>
			<tr>
				<td>campusID</td>
				<td>今出川 => 1, 京田辺 => 2</td>
			</tr>
			<tr>
				<td>説明</td>
				<td>キャンパスごとの空き状況を取得</td>
			</tr>
			<tr>
				<td>サンプル</td>
				<td><a href="http://hack.doshisha.work/openpc/api/v1/2" target="_blank">京田辺キャンパスの利用状況</a></td>
			</tr>
			<tr>
				<td>形式</td>
				<td>
					"data": {
						"campus": "キャンパス名",
						"date": "取得したときの時刻"
					},
					"status": {
						"教室名": "閉室"
						or
						"教室名": {
							"free": "空きPC数",
							"max": "全PC台数"
						}
					}
				</td>
			</tr>
			<tr>
				<td colspan="2">形式に関しては後で綺麗に書き直す</td>
			</tr>
		</table>
		<table class="table">
			<thead>
				<tr>
					<td>概要</td>
					<td>開き教室検索</td>
				</tr>
			</thead>
			<tr>
				<td>API_URL</td>
				<td>http://hack.doshisha.work/openpc/api/v1/'campusID'/open</td>
			</tr>
			<tr>
				<td>説明</td>
				<td>キャンパスごとに開いている教室の状況ののみを取得</td>
			</tr>
			<tr>
				<td>サンプル</td>
				<td><a href="http://hack.doshisha.work/openpc/api/v1/1/open" target="_blank">今出川キャンパスの開き教室状況</a></td>
			</tr>
			<tr>
				<td>形式</td>
				<td>
					"data": {
						"campus": "キャンパス名",
						"date": "取得したときの時刻"
					},
					"status": {
						"教室名": {
							"free": "空きPC数",
							"max": "全PC台数"
						}
					}
				</td>
			</tr>
		</table>
	</div>
</body>
</html>